/*
    Alex Appel, Yash Thacker
    Final Project CSE 204
    12/17/18
    Some basic code used from Spotify Web and Player Api Quick Start Guides
    Please note that any svg files used are obtained from  fa-fa icons website
 */

 body{
   background-image: url(background.jpg);
   background-repeat: no-repeat;
   background-size: auto;
 }
 .container{
   width: 100%;
 }
#login{
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10%;
  width: 30%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.65);
}
#title{
  text-decoration: underline;
  font-size: 3.5em;
}
#join{
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  font-family: sans-serif;
  font-size: 2.2em;
  text-align: center;
  background: -webkit-linear-gradient(-100deg, rgba(145,153,242,0.7) 0, rgba(186,11,162,0.7) 100%);
  width: 60%;
}
#join:hover{
  background-color: red;
}
.btn{
  width: 80%;
  padding: 10px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  background: -webkit-linear-gradient(-100deg, rgba(145,153,242,0.7) 0, rgba(186,11,162,0.7) 100%);s
  background-color: #000000;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
}

#login, #loggedin {
    display: none;
}
#lock{
  font-size: 40px;
}
#room_code{
  height: 40px;
  text-align: center;
  font-size: 30px;
  width: 80%;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 30px;
}

#loggedin{
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
  width: 35%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.65);
}
#resultsList{
  list-style-type: none;
  margin-right: 40px;
}
ul li::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-image: url(plus-solid.svg);
  background-repeat: no-repeat;
  margin-right: 5px;
}
#resultsList li:hover{
  background-color: rgba(153, 51, 255,0.6);
  border-color: white;
  border-width: thick;
  border-style: solid;
  font-size: 23px;
  -webkit-transition: font-size .3s;
  border-radius: 15px;
}
#resultsList li:active{
  transition: background-color .1s linear;
  background: green;
}
#newSearch{
  height: 40px;
  text-align: center;
  font-size: 30px;
  width: 60%;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 30px;
  background-image: url(search-solid.svg);
  background-repeat: no-repeat;
  padding-right: 12px;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
#guest{
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
  width: 35%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.65);
}
#newSearch2{
  height: 40px;
  text-align: center;
  font-size: 30px;
  width: 60%;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 30px;
  background-image: url(search-solid.svg);
  background-repeat: no-repeat;
  padding-right: 12px;
}
#resultsList2{
  list-style-type: none;
  margin-right: 40px;
}

#resultsList2 li:hover{
  background-color: rgba(153, 51, 255,0.6);
  border-color: white;
  border-width: thick;
  border-style: solid;
  font-size: 23px;
  -webkit-transition: font-size .3s;
  border-radius: 15px;
}

#login {
    width: 60%;
}
#loggedin {
    width: 60%;
}
#guest {
    width: 60%;
}

@media (max-width: 600px) {
    #login {
        width: 100%;
    }
    #loggedin {
        width: 100%;
    }
    #guest {
        width: 100%;
    }
}
